body {
    min-height: 100vh;
    background-color: var(--offWhite);
}

/* /- - - - - - - - - - navbar - - - - - - - - - -/ */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

header main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--verde);
    padding: 5px 60px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
}

header nav a {
    color: var(--offWhite);
    font-size: 20px;
    font-weight: 500;
}

header p {
    color: var(--verdeClaro);
    font-size: 20px;
}

header .slogan {
    background-color: var(--verdeClaro);
    width: 100%;
    padding: 5px;
    text-align: center;
    color: var(--verdeEscuro);
}

/* /- - - - - - - - - - conteúdo - - - - - - - - - -/ */

.titulo {
    font-size: 42px;
    color: var(--azulEscuro);
}

.titulo2 {
    font-size: 30px;
}

.estatisticas {
    margin: 40px 0 80px 0;
    background-color: var(--begeClaro);
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
        margin-top: 30px;
    }
}

.divisoria {
    user-select: none;
    margin: 50px;
    border-radius: 3px;
    width: 88%;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: var(--begeClaro);
}

.doacoes {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    color: var(--azulEscuro);

    b {
        color: var(--verdeNeon);
    }

    h1 {
        font-size: 27px;
    }
}

.doadores,
.info-doadores {
    margin: 8px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px 0;

    p {
        color: var(--azulEscuro);
        opacity: 60%;

        font-size: 25px;
    }
}

table {
    color: var(--azulEscuro);
    opacity: 60%;
    width: 85%;
    border-collapse: collapse;
    font-size: 25px;
    letter-spacing: 0.5px;
}

th,
td {
    text-align: justify;
    border-bottom: 1px solid rgb(160 160 160);
    padding: 20px;


}
.first{
    width: 600px
}

th:first-of-type, td:first-of-type{
    text-align: left;
}
th:last-of-type, td:last-of-type{
    text-align: right;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}



.button {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 60px 0 60px 0;

    a {
        border: 0px;
        border-radius: 3px;
        font-size: 20px;
        color: var(--begeClaro);
        background-color: var(--azul);
        padding: 10px;
        width: 200px;
        height: auto;
        transition: all 0.4s;
        cursor: pointer;
        text-align: center;
    }

    a:hover {
        background-color: var(--verdeNeon);
    }
}

/* /- - - - - - - - - - rodapé - - - - - - - - - -/ */


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--verde);
    /* margin-top: 150px; */
    padding: 20px;
}

footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--offWhite);
    width: 80%;
    padding-top: 40px;
    margin-top: 40px;
    gap: 10px;
}

footer .logo p {
    color: var(--offWhite);
    font-family: "MoonDance";
    font-size: 50px;
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.link_title {
    font-weight: 600;
    font-size: 28px;
    color: var(--offWhite);
}

footer .links div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    width: 20%;
}

footer .links div a {
    font-size: 24px;
    font-family: 'Montserrat-Light';
    text-decoration: none;
    color: var(--offWhite);
}

/* /- - - - - - - - - - responsividade - - - - - - - - - -/ */

@media (max-width:1440px) {
    .first{
        width: 400px
    }
}
@media (max-width:1440px) {
    .first{
        width: 250px
    }
    footer .logo {
        width: 90%;
    }
    footer .logo p {
        font-size: 45px;
    }
    footer .links {
        width: 90%;
    }
    .link_title {
        font-size: 24px;
    }
    footer .links div {
        width: 30%;
    }

    footer .links div a {
        font-size: 24px;
    }
    .logoFooter{
        width: 130px;
    }
}
@media (max-width:900px) {
    .logoHeader{
        width: 100px;
    }
    .titulo{
        font-size: 35px;
    }
    .titulo2{
        font-size: 25px;
        text-align: center;
    }
    .doacoes h1{
        font-size: 25px;
    }
    table {
        font-size: 20px;
    }
    .button {
        width: 85%;
        margin: 60px 0 60px 0;

        a {
            font-size: 18px;
            padding: 10px;
            width: 180px;
        }
    }
    .link_title {
        font-size: 22px;
    }
    footer .links div a {
        font-size: 20px;
    }
    footer .logo p {
        font-size: 40px;
    }
    .logoFooter{
        width: 120px;
    }
}
@media (max-width:750px) {
    .logoHeader{
        width: 90px;
    }
    .first{
        width: 200px
    }
    .titulo2{
        font-size: 25px;
        width: 500px;
    }
    .link_title {
        font-size: 22px;
    }
    footer .links div a {
        font-size: 20px;
    }
    footer .logo p {
        font-size: 35px;
    }
    .logoFooter{
        width: 100px;
    }
}
@media (max-width:650px) {
    header main{
        padding: 5px 30px;
    }
    .logoHeader{
        width: 80px;
    }
    header p{
        font-size: 16px;
    }
    .titulo{
        font-size: 28px;
    }
    .titulo2{
        font-size: 20px;
        width: 400px;
    }
    .doacoes h1{
        font-size: 20px;
    }
    .first{
        width: 100px
    }
    .button {
        width: 85%;
        margin: 60px 0 60px 0;

        a {
            font-size: 16px;
            padding: 10px;
            width: 160px;
        }
    }
    .link_title {
        font-size: 20px;
    }
    footer .links div a {
        font-size: 18px;
    }
    footer .logo p {
        font-size: 30px;
    }
    .logoFooter{
        width: 80px;
    }
}
@media (max-width:550px) {
    table {
        font-size: 17px;
    }
    td{
        padding: 12px;
    }
    .link_title {
        font-size: 18px;
    }
    footer .links div a {
        font-size: 16px;
    }
    footer .logo p {
        font-size: 25px;
    }
    .logoFooter{
        width: 60px;
    }
}
@media (max-width:470px) {
    .titulo2{
        font-size: 18px;
        width: 300px;
    }
    .doacoes h1{
        font-size: 17px;
    }
    .link_title {
        font-size: 16px;
    }
    footer .links div a {
        font-size: 15px;
    }
    footer .logo p {
        font-size: 20px;
    }
    .logoFooter{
        width: 50px;
    }
}
@media (max-width:400px) {
    .button {
        width: 85%;
        margin: 60px 0 60px 0;
        justify-content: center;

        a {
            font-size: 15px;
            padding: 10px;
            width: 150px;
        }
    }
}
@media (max-width:380px) {
    header main{
        padding: 5px 20px;
    }
    .logoHeader{
        width: 70px;
    }
    table {
        font-size: 16px;
    }
    .link_title {
        font-size: 15px;
    }
    footer .links div a {
        font-size: 14px;
    }
    footer .logo{
        width: 98%;
    }
}
@media (max-width:350px) {
    .logoHeader{
        width: 60px;
    }
    header p{
        font-size: 14px;
    }
    table {
        font-size: 15px;
    }
    .titulo{
        font-size: 25px;
    }
    .titulo2{
        font-size: 16px;
    }
    .link_title {
        font-size: 14px;
    }
    footer .links div a {
        font-size: 13px;
    }
    footer .logo p {
        font-size: 18px;
    }
    .logoFooter{
        width: 40px;
    }
}
@media (max-width:320px) {
    .titulo2{
        font-size: 15px;
        width: 250px;
    }
    .doacoes h1{
        font-size: 15px;
    }
    table {
        font-size: 14px;
    }
    .button {
        width: 85%;
        margin: 60px 0 60px 0;
        justify-content: center;

        a {
            font-size: 14px;
            padding: 10px;
            width: 140px;
        }
    }
    .link_title {
        font-size: 13px;
    }
    footer .links div a {
        font-size: 12px;
    }
    footer .logo p {
        font-size: 18px;
    }
    .logoFooter{
        width: 35px;
    }
}