body {
  background-color: var(--verdeEscuro);
  background-image: url("../images/fundoAuth.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: initial;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
}

main {
    /* padding: 45px 30px;
    border-radius: 30px;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center; */
    display: flex;
  width: 80%;
  max-width: 900px;
  margin: auto;
  height: 500px;
  /* background-color: #a8c3ad; */
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--verdeClaro);
}

.logo{
  width: 120px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.logoLogin{
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  color: var(--begeClaro);
  text-decoration: none;
  border: 2px solid var(--begeClaro); /* Largura, estilo e cor */
  padding: 3px 6px;
  border-radius: 15px;
}

p{
  color: var(--begeClaro);
}

.form1{
  background-color: var(--verde);
  padding: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form2{
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

input{
  background-color: var(--verde);
  border: none;
  color: var(--verdeEscuro);
  padding: 2%;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
}

input::placeholder{
  color: var(--verdeEscuro);
}

button{
  background-color: var(--verde);
  color: var(--begeClaro);
  border: none;
  padding: 3px 50px;
  font-size: 15px;
  border-radius: 15px;
  margin-top: 30px;
}