body {
    min-height: 100vh;
    background-color: var(--offWhite);
}

/*- - - - - - - - - - conteúdo - - - - - - - - - -*/

.setaVoltar {
    width: 50px;
    margin-left: 50px;
    margin-top: 50px;
}
.titulo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 50px;
    color: var(--azulEscuro);
    transition: all 400ms;
}
.titulo2 {
    transition: all 400ms;
    margin-top: 60px;
    margin-left: 120px;
    margin-bottom: 60px;
    font-size: 40px;
    color: var(--azulEscuro);
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;

}
.sub-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--bege);
    width: 90%;
    height: auto;
    padding-bottom: 80px;
}
.sub-main form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sub-main form .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.sub-main .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;
    font-size: 30px;
    color: var(--azulEscuro);
}
.card {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 1px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    position: relative;
    min-width: 300px;
    height: 220px;
    transition: background-color 0.4s ease;
}
.card input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.card:has(input[type="radio"]:checked) {
    background-color: var(--verdeClaro);
}
#card1 {
    border-top: none;
    border-left: none;
}
#card2 {
    border-top: none;
}
#card3 {
    border-top: none;
    border-right: none;
}
#card4 {
    border-bottom: none;
    border-left: none;
}
#card5 {
    border-bottom: none;
}
#card6 {
    border-bottom: none;
    border-right: none;
}
.titulo-card {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 35px;
    text-align: center;
    color: var(--azulEscuro);
}
.valor {
    text-align: center;
    font-size: 60px;
    color: var(--azulEscuro);
}
.button {
    margin-top: 50px
}
.button button {
    color: var(--azulEscuro);
    background-color: var(--begeClaro);
    font-size: 40px;
    width: auto;
    height: auto;
    padding: 10px 60px 10px 60px;
    border: 0px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    cursor: pointer;
}
.button button:hover {
    transform: scale(1.08);
}

/*---------- responsividade ----------*/

@media (max-width:1400px) {
    .titulo-card {
        font-size: 30px;
    }
    .valor {
        font-size: 55px;
    }
    .button button {
        font-size: 38px;
    }
}
@media (max-width:1050px) {
    .titulo {
        font-size: 45px;
    }
    .titulo-card {
        font-size: 26px;
    }
    .valor {
        font-size: 45px;
    }
    .button button {
        font-size: 30px;
    }
}
@media (max-width:999px) {
    .titulo-card {
        font-size: 32px;
    }
    .valor {
        font-size: 50px;
    }
    #card2 {
        border-right: none;
        border-left: none;
    }
    #card3 {
        border-left: none;
        border-right: 1px solid rgba(0, 0, 0, 0.13);
    }
    #card4 {
        border-top: none;
        border-right: none;
    }
    #card5 {
        border-top: none;
        border-left: none;
        border-right: none;
    }
    #card6 {
        border-bottom: none;
        border-right: none;
    }
}
@media (max-width:950px) {
    .setaVoltar {
        width: 40px;
        margin-left: 40px;
        margin-top: 40px;
    }
}
@media (max-width:850px) {
    .titulo {
        font-size: 40px;
    }
    .sub-main .titulo {
        font-size: 26px;
    }
    .titulo-card {
        font-size: 28px;
        margin: 8px;
    }
    .valor {
        font-size: 45px;
    }
    .button button {
        font-size: 28px;
    }
}
@media (max-width:800px) {
    .setaVoltar {
        width: 35px;
        margin-left: 35px;
        margin-top: 35px;
    }
}
@media (max-width:666px) {
    .titulo-card {
        font-size: 30px;
    }
    .valor {
        font-size: 50px;
    }
    #card1 {
        border-top: 1px solid rgba(0, 0, 0, 0.13);
        border-left: 1px solid rgba(0, 0, 0, 0.13);
    }
    #card2 {
        border-right: 1px solid rgba(0, 0, 0, 0.13);
        border-left: 1px solid rgba(0, 0, 0, 0.13);
    }
    #card3 {
        border-left: 1px solid rgba(0, 0, 0, 0.13);
        border-right: 1px solid rgba(0, 0, 0, 0.13);
    }
    #card4 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);;
        border-left: 1px solid rgba(0, 0, 0, 0.13);
        border-right: 1px solid rgba(0, 0, 0, 0.13);
    }
    #card5 {
        border-left: 1px solid rgba(0, 0, 0, 0.13);
        border-right: 1px solid rgba(0, 0, 0, 0.13);
    }
    #card6 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        border-right: 1px solid rgba(0, 0, 0, 0.13);
    }
}
@media (max-width:630px) {
    .sub-main .titulo {
        font-size: 23px;
    }
}
@media (max-width:550px) {
    .setaVoltar {
        width: 30px;
        margin-left: 30px;
        margin-top: 30px;
    }
    .titulo {
        font-size: 30px;
    }
    .sub-main .titulo {
        font-size: 20px;
    }
    .titulo-card {
        font-size: 27px;
    }
    .valor {
        font-size: 40px;
    }
    .button button {
        font-size: 25px;
    }
}
@media (max-width:450px) {
    .sub-main .titulo {
        font-size: 22px;
    }
    .setaVoltar {
        width: 25px;
        margin-left: 25px;
        margin-top: 25px;
    }
    .titulo-card {
        font-size: 25px;
    }
    .valor {
        font-size: 33px;
    }
}
@media (max-width:400px) {
    .titulo-card {
        font-size: 20px;
    }
    .valor {
        font-size: 28px;
    }
    .card {
        min-width: 250px;
        height: 180px;
    }
    .button button {
        font-size: 20px;
    }
}